---
const { title, image, align } = Astro.props;
---

<section class="hero full-bleed">
    <img src={image} alt={title} class="hero-img" />

    <div class="hero-content">
        <h1 style=`align:${align}`>{title}</h1>
    </div>
</section>

<style>
    .hero {
        position: relative;
        width: 100vW;
        height: 50vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -3em;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
    }

    .hero-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;

        filter: blur(4px);
        transform: scale(1.05);
    }

    .hero-content {
        text-align: center; /* Centers the text inside the div */
    }

    h1 {
        color: var(--gray-light);
        margin: 0;
        font-size: 3rem; /* Optional: makes it stand out more */
        font-family: "Quantico", "serif";
        font-weight: bold;
    }
</style>
