---
const { prevURL, nextURL} = Astro.props;
---

<nav>
    {
        prevURL && (
            <div class="wrapper prev">
                <a href={prevURL} class="nav">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="arrow">
                        <path d="M10 12.796V3.204L4.519 8zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753"/>
                    </svg><p>Previous</p>
                </a>
            </div>
        )
    }
    {
        nextURL && (
            <div class="wrapper next">
                <a href={nextURL} class="nav">
                    <p>Next</p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" class="arrow">
                        <path d="M6 12.796V3.204L11.481 8zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753"/>
                    </svg>
                </a>
            </div>
        )
    }
</nav>
<style>
 .arrow {
    height: 1rem;
    width: auto;
 }
 .nav {
    text-decoration: none;
    color: var(--black);
    border: 2px solid var(--black);
    border-radius: 10px;
    padding: 0px 5px;
 }
 .nav p {
    display: inline-block;
 }
 .prev {
    float: left;
 }
 .next {
    float: right;
 }
 .wrapper {
    display: inline-block;
 }
 nav{
    height: 3rem;
 }
</style>